<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player - {{ file_name }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/res/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/favicon-16x16.png">
    <link rel="manifest" href="/res/site.webmanifest">
</head>
<body>
    <video autoplay controls>
        <source src="{{ video_url }}">
    </video>
</body>
</html>